# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Except Content Folder
!Content/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Microsoft Visual Studio
/.vs
*.pdb
*.ilk

# CMake folders
Build/
Built/

# Sailor Debug/Release folders
Cache/
sailor/Debug
sailor/Release
sailor/x64
sailor/x86
butler/Debug
butler/Release
butler/x64
butler/x86